<!DOCTYPE HTML>
<html>
    <head>
        <title>Тест для парсера</title>
    </head>
    <body>
        <h1>Тест</h1>
        <div class="data"></div>
        <div class="status"></div>
        <div class="messages"></div>
        <button class="start">Старт</button>
        <button class="stop">Стоп</button>
        <script>
            let filter_id = 13
            let ws = new WebSocket("ws://" + window.location.host + window.location.pathname + "websocket_percent") 
            ws.onmessage = function(event) {
                let data = document.querySelector(".data")
                let content = document.createTextNode(event.data)
                data.innerText = content.data
            }

            let ws2 = new WebSocket("ws://" + window.location.host + window.location.pathname + "websocket_status") 
            ws2.onmessage = function(event) {
                let data = document.querySelector(".status")
                let content = document.createTextNode(event.data)
                data.innerText = content.data
            }
            
            document.querySelector(".start").addEventListener("click", start)
            document.querySelector(".stop").addEventListener("click", stop)
            function start() {
                fetch(window.location.href + "start/" + filter_id)
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector(".messages").textContent = JSON.stringify(data, null, 2)
                    })
                    .catch(error => console.error(error))
            }
            function stop() {
                fetch(window.location.href + "stop/")
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector(".messages").textContent = JSON.stringify(data, null, 2)
                    })
                    .catch(error => console.error(error))
            }
        </script>
    </body>
</html>